/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

/* Variables */
:root {
    --desktop-font-size: 1rem/1.70;
    --mobile-font-size: 1rem/1.45;
    --text-color: #3d3d3d;
    --link-color: #777;
    --link-color-alt: darkblue;
    --primary-color: #f2f2f2;
    --secondary-color: aliceblue;
    --tertiary-color: whitesmoke;
    --underweight: #1d8800;
    --overweight: #ff3232;
}

/* Typography */
body {
    color: var(--text-color);
    margin: 0 auto;
    max-width: 82ch;
    padding: 0 0.5rem;
}
body, input {
    font: var(--desktop-font-size) -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
}

h1,h2,h3,h4,h5,h6,p,blockquote,dl,img,figure {
    margin: 2rem 0;
}

h1,h2,h3,h4,h5,h6 { font-weight: bold; line-height: 1.2; }
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4,h5,h6 { font-size: 100%; }
h5, h6 { text-transform: uppercase; }

header h1 { border-bottom: 1px solid; }

a,a:visited { color: var(--link-color); }
a:hover,a:focus { color: var(--link-color-alt); }

strong, time, b { font-weight: bold; }
em, dfn, i { font-style: italic; }
sub { font-size: 60%; vertical-align: bottom; }
small { font-size: 80%; }

/* Elements */
hr {
    background: var(--text-color);
    border: 0;
    height: 1px;
    margin: 1.5rem 0 .5rem;
}

/* img {
    display: block;
    height: auto; 
    max-width: 100%; 
} */

table {
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    border-radius: .5em;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 4px var(--primary-color); /* this draws the table border  */ 
    overflow: hidden;
}
table caption { margin: 2rem 0; }
/* table tr { border-bottom: 1px solid var(--primary-color); } */
table thead { position: sticky; top: 0; }
table th { background: var(--secondary-color); font-weight: bold; }
table th, table td { padding: 0.5rem; }

input { 
    appearance: none; 
    border: 1px solid #bbb;
    display: block;
    margin: 0.5rem 0;
    padding: 0.8rem; 
    border-radius: 7px;
}
input:focus, input:active { background-color: var(--secondary-color); border-color: var(--secondary-color); }

/* Mobile Styling */
@media screen and (max-width: 75ch) {
    body, input {
        font: var(--mobile-font-size) -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    }
    table { table-layout: auto; }
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
    body {
        background: #191919;
    }
    input:focus, input:active {
        background-color: var(--text-color);
        color: var(--secondary-color);
    }
    table,
    table tr,
    table th:not(:last-of-type),
    table td:not(:last-of-type) {
        border-color: var(--text-color);
    }
    table thead th,
    table tfoot th {
        background-color: var(--primary-color-light);
    }
    :root {
        --text-color: #fff;
        --link-color: orange;
        --link-color-alt: yellow;
        --primary-color: orange;
        --primary-color-light: dimgrey;
        --secondary-color: black;
        --tertiary-color: #2d2d2d;
    }
}

h1 {
    margin: .5em .7em 0;
    display: inline-block;
}
#step-1 label {
    margin-left: 1em;
}
.description {
    margin-left: 6.2em;
    margin-top: 0;
    color: #999;
}
h2 .body-weight-highlight {
    border-bottom: 6px solid #90EE90;
}
h2 .scale-weight-highlight {
    border-bottom: 6px solid #ff94b7;
    cursor: help;
}
.step-2-instructions {
    margin: -.5em 0 2em 1.5em;
    color: #888;
}
button {
    font-weight: bold;
    padding: .4rem .9rem;
    background-color: #eee;
    border: 1px solid #ddd;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    border-radius: .5em;
}
button:hover {
    background-color: #ddd;
}
.logo {
    font-size: 4em;
    margin-right: 0.2em;
    float:left;
}
.weight-unit {
    display: inline-block;
}
.weight-unit:before {
   content: ' ';
}
tfoot {
    display: none;
}

/* Inputs */
.weight-input {
    width: 5em;
    display: inline-block;
    margin: 0 0.3em;
    padding: .5em 1em;
}
#body-weight:invalid,
#body-weight:focus,
#body-weight:active {
    background-color: ivory;
    border: 1px solid #90EE90 !important;
    outline: 2px solid #90EE90 !important;
}
input[id^=scale-weight]:invalid {
    background-color: ivory;
    border: 1px solid #ff94b7;
    outline: 2px solid #ff94b7;
}
/* END Inputs */

/* Luggage Rows */
#instructions {
    position: relative;
    animation: fadeInAnimation ease .25s;
    animation-iteration-count: 1;
}
#instructions th {
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.4em;
    padding: 0 .5rem 1em;
    cursor: pointer;
}
#instructions-header th:not(:first-child) {
    cursor: help;
    user-select: none;
    -webkit-user-select: none;
}
.luggage-row {
    animation: fadeInAnimation ease .25s;
    animation-iteration-count: 1;
}
.luggage-row:hover {
    background-color: var(--tertiary-color);
}
.luggage-row td {
    vertical-align: middle;
}
.luggage-row td:empty::after{
    content: "-";
    color: #aaa;
}
.luggage-description {
    padding: 0.2em .5em;
    max-width: 11em;
    border: 0;
}
.luggage-row:hover .luggage-description {
    background-color: #fff;
    cursor: auto;
    outline: 1px solid #ddd;
}
.remove-button {
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 1em;
    border-radius: 2em;
}
/* END Luggage Rows */


/* Message Area */
#utility-buttons {
    box-shadow: none;
    background: none;
}
#message-area h3 {
    margin-top: 0;
}
#message-area .underweight-label,
#message-area .overweight-label {
    margin: 0 0.2em;
}
#message-area.message {
    margin-top: 2em;
    padding: 2em;
    border-radius: .6em;
    max-width: 50ch;
    box-shadow: 1px 1px 3px 0px #ddd;
    animation: fadeInAnimation ease .7s;
    animation-iteration-count: 1;
}
.message-overweight {
    background-color: ivory;
}
.message-underweight {
    background-color: #daf4bb !important;
}
.alert-fix {
    text-decoration: underline solid #ff3232 3px;
    text-underline-offset: .3em;
}
/* END Message Area */

/* Weight messages */
.underweight {
    color: var(--underweight);
}
.overweight {
    color: var(--overweight);
}
h3.underweight {
    color: var(--underweight);
    text-decoration: underline wavy var(--underweight) 2px;
    text-underline-offset: 0.4em;
}
.label {
    font-weight: bold;
    font-size: 0.75em;
    border-radius: 2em;
    padding: .3em 0.7em;
    margin-left: .6em;
    display: inline-block;
    animation: fadeInSlide ease .6s;
    animation-iteration-count: 1;
}
.luggage-row .label {
    cursor: help;
}
.overweight-label {
    background: var(--overweight);
    color: #fff;
}
.underweight-label {
    color: #0CA402;
    border: 1px dashed #0CA402;
    background-color: #eefbda;
}
[id^=luggage-weight] {
    font-weight: bold;
}
[id^=luggage-weight] .overweight {
    text-decoration: underline dotted var(--overweight) 2px;
    text-underline-offset: 5px;
}
#no-luggage {
    padding: 1.4em 5em;
}
.add-luggage-button {
    padding: 0.5em;
}
@keyframes fadeInSlide {
    0% {
        transform: translate(-2px);
        opacity: 0;

    }
    100% {
        transform: translate(0px);
        opacity: 1;
     }
}

/* Scale Weight alert */
.alert {
    border-left: 5px solid #ff94b7;
    padding: 0 0.7em;
    color: #444;
    font-size: 0.85em;
    display: inline-block;
    line-height: 1.3em;
    vertical-align: middle;
}
.alert-fade {
    animation: fadeOutSlide ease .7s;
    animation-iteration-count: 1;
}
@keyframes fadeOutSlide {
    0% {
        transform: translate(-5px);
        opacity: 0;

    }
    100% {
        transform: translate(0px);
        opacity: 1;
     }
}
/* END Scale Weight alert */

.disclaimer {
    font-size: .9em;
    color: #888;
    font-style: italic;
    border-top: 1px solid #ddd;
    padding: 1em 0;
}
.credit {
    font-size: 0.8em;
}

/* Animations */
.fade {
    animation: fadeInAnimation ease .6s;
    animation-iteration-count: 1;
}
.fade-text {
    padding: 2px 4px;
    border-radius: 3px;
    animation: fadeInTextUpdate ease .8s;
    animation-iteration-count: 1;
}
.fade-units {
    animation: changeUnits ease .4s;
    animation-iteration-count: 1;
}
@keyframes fadeInAnimation {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
     }
}
@keyframes fadeInTextUpdate {
    0% {
        background-color: #f8f88a;
    }
    100% {
        background-color: transparent;
     }
}
/* END Animations */
/* @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) { */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 150%;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #instructions-header {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    #instructions th {
        padding: 1em 2em;
    }
    #step-2 {
        box-shadow: none;
    }
    #luggage-list td:not(:first-child) {
        position: relative;
        top: -60px;
        width: 49.5%;
        display: inline-block;
    }
    #luggage-list tr:not(:first-child) {
        border: 4px solid #eee;
        border-radius: 1em;
        margin-bottom: 1em;
        padding: 0 0 1em;
    }
    th:before {
        font-weight: bold;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      position: relative;
      font-weight: bold;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 25%;
      left: 1.5em;
      width: 45%;
      white-space: nowrap;
    }
    #luggage-list td:not(:first-child) {
        padding-left: 60% !important;
    }
    .add-luggage-button {
        font-size: 1rem;
        width: 100%;
        padding: 1em;
        color: #222;
    }
    
    
    /*
          Label the data
      You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
          */

    #instructions th:nth-of-type(1) {
        display: none;
    }
    #instructions th:nth-of-type(2):before {
    content: "Description: ";
    }
    #instructions th:nth-of-type(3):before {
    content: "Scale Weight: ";
    }
    #instructions th:nth-of-type(4):before {
    content: "Luggage Weight: ";
    }
    #instructions th:nth-of-type(5):before {
    content: "Wiggle Room: ";
    }
    
    #luggage-list td:nth-of-type(1):before {
      /* content: "My weight is"; */
    }
    #luggage-list td:nth-of-type(2):before {
      /* content: "Description"; */
    }
    #luggage-list td:nth-of-type(3):before {
      content: "Scale Weight";
    }
    #luggage-list td:nth-of-type(4):before {
      content: "Luggage Weight";
    }
    #luggage-list td:nth-of-type(5):before {
      content: "Wiggle Room";
    }
    tfoot {
        display: block;
    }

    #step-1 label {
        margin: 0.5em;
        margin-bottom: 0.8em;
        display: block;
    }
    .luggage-description {
        font-weight: bold;
    }
  }